@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%; /* #fcfcfc - near white */
    --foreground: 240 10% 3.9%; /* #09090b - near black */
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 258 70% 55%; /* #613dc1 */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 238 67% 71%; /* #858ae3 */
    --accent-foreground: 288 80% 12%;
    --destructive: 358 89% 48%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 258 70% 55%;
    --chart-1: 258 70% 55%;
    --chart-2: 276 78% 31%;
    --chart-3: 238 67% 71%;
    --chart-4: 197 96% 79%;
    --chart-5: 0 0% 63%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222.2 84% 4.9%;
    --sidebar-primary: 271 76% 53%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 220 10% 96%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 220 10% 88%;
    --sidebar-ring: 271 76% 53%;
  }
  .dark {
    --background: 288 80% 12%; /* #2c0735 */
    --foreground: 200 100% 95%;
    --card: 276 78% 14%; /* Slightly lighter than background */
    --card-foreground: 200 100% 95%;
    --popover: 288 80% 12%;
    --popover-foreground: 200 100% 95%;
    --primary: 238 67% 71%; /* #858ae3 */
    --primary-foreground: 288 80% 12%;
    --secondary: 258 70% 55%; /* #613dc1 */
    --secondary-foreground: 0 0% 100%;
    --muted: 276 78% 21%; /* #4e148c */
    --muted-foreground: 200 100% 80%;
    --accent: 197 96% 79%; /* #97dffc */
    --accent-foreground: 288 80% 12%;
    --destructive: 358 89% 48%;
    --destructive-foreground: 0 0% 100%;
    --border: 276 78% 21%;
    --input: 276 78% 21%;
    --ring: 238 67% 71%;
    --chart-1: 238 67% 71%; /* #858ae3 */
    --chart-2: 258 70% 55%; /* #613dc1 */
    --chart-3: 197 96% 79%; /* #97dffc */
    --chart-4: 276 78% 31%; /* #4e148c */
    --chart-5: 0 0% 83%;
    --sidebar-background: 270 100% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 271 76% 53%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 275 79% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 275 79% 20%;
    --sidebar-ring: 271 76% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
